@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

app-range-selector {
  width: 100%;
}

.range-container {
  &__container {
    width: 550px;
    padding: 26px 50px 30px 44px;
  }

  &__form {
    width: 100%;
  }
}
