@import "../../../assets/styles/mixins";
@import "../../../assets/styles/variables";

app-promocode-button {
  margin-top: 34px;
  display: flex;
  align-self: center;
}

.credit-container {
  &__container {
    width: 320px;
    padding: 23px 32px 23.2px 32px;
  }

  &__text {
    @include text(18px, 21px);

    &--bold {
      font-weight: 600;
    }
  }

  &__block {
    width: 100%;
    @include flex($jc: space-between);
    padding-top: 15px;
    padding-bottom: 15px;

    &--border-bottom {
      border-bottom: 1px dashed $purple;
    }
  }
}
